.leftNav{
    width: 30%;
    background: #ccf381;
}
.rightNav{
    background: #4730D3;
}
.first_section{
    width: 100%;
    height: 70vh;
    display: flex;
}
.right_side{
    width: 70%;
    /* height: calc( 100% - 150px); */
    background: #4730D3;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    /* border: 2px solid red; */
}
.aboutDesc{
    width: 70%;
    margin-right: 6rem;
    color: white;
    font-size: 24px;

}
.left_side{
    width: 28%;
    /* height: calc( 100% - 150px); */
    background: #CCF381;
    flex: 1;
    position: relative;

}
.iconsAbout{
    width: 100%;
    /* background: red; */
    text-align: center;
    font-size: 34px;
}
.imageContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left:40%;
}
.imageContainer img {
    width: 80%;
    height: 90%;
    object-fit: cover;
}
.hambMenu{
    background: #CCF381;
    /* background: red; */
    
}
.logoName{
    color: #4730d3;
}
.hamb_Menu {
    padding: 10px 5px 20px 5px;
    /* background: red; */
    cursor: pointer;
}
.hambMenu::before{
    content: '';
    width: 60%;
    height: 100%;
    position: absolute;   
    top: 13px;
    right: 0px;
    background: #CCF381;
    border-radius: 25px;
    transition: all 3s ease, transform 0.3s ease;
}
.hambMenu.hambAnimation::before{
    content: '';
    width: 60%;
    height: 100%;
    position: absolute;   
    top: 13px;
    right: 0px;
    background: #CCF381;
    border-radius: 25px;
    transform-origin: bottom right;
    transform: rotate(45deg);
}
.hamburgerPage a::after{

    background: #CCF381;

}
.hamburgerPage a{
    margin: 5px;
    padding: 5px 10px;
    color: #CCF381;
    font-weight: 600;
    font-size: 20px;
    position: relative;
    transition: all 0.3s ease;
}
 .hamburgerPage a:hover::after{
    content: '';
    width: 100%;
    height: 100%;
    background: #CCF381;
    position: absolute;
    color: #4730D3;
    top: 0;
    left: 0;
    z-index: -1;
}
.hamburgerPage{
    width: 100vw;
    margin-top: 150px;
    height: calc( 100vh - 150px );
    background: #4730D3;;
    /* z-index: ; */
    position: fixed;
    /* visibility: hidden; */
    transform: translate(100%, -100%);
    z-index: 999;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 4em 5em;
    
} 
.hamburgerPage a:hover{

    color: #4730D3;

}
.menuBtn{
    color: #CCF381;
}
.socialsContainer{
    /* background: red; */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.socialsLinks{
    width: 120px;
    margin-top: 50px;
    font-size: 30px;
    margin-bottom: 50px;
}
.socialsLinks img{
    width: 100%;
    height: 100%;
}
.secondSection{
    width: 100%;
    /* height: 2000px; */
    background: #F9F9F9;
    padding: 50px 0px;
}
.faqContainer{
    width: 80%;
    /* height: 100%; */
    /* background: red; */
    margin: 0 auto;
}
.faqTitle{
    /* padding-top: 50px; */
    color: #4730D3;
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 50px;
}
.questContainer{
    color: #4730D3;
    width: 70%;
    margin-bottom: 50px;
    border-bottom: 1px solid #4730D3;
}
.questTitle{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 1.2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.titleQuest{
    margin-right: 10px;
    /* background: red; */
}
.questDesc{
    font-size: 22px;
    /* height: 0px; */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
    
}
/* .questTitle img{
    width: 32px;
    height: 32px;
} */
 .questTitle{
    /* background: pink; */
 }
.questContainer.active .questDesc {
    max-height: 500px;
}
.faqArrow{
    transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
    transform: rotate(90deg);
}
.faqArrowActive{
    transform: rotate(0deg);
}
.questNumber{
    padding: 2px 5px;
    margin-right: 10px;
    background: #4730D3;
    color: white;
}
.goToContactContainer{
    display: flex;
    align-items: center;
    /* background: red; */
    color: #4730D3;
    font-size: 28px;
    flex-direction: column;
}
.goToContactBtn {
    margin-top: 20px;
    padding: 10px 20px;
    border: 2px solid #4730D3;
    position: relative;
    z-index: 1; /* Zmieniam z-index dla elementu rodzica */
    color: #4730D3; /* Zakomentowana właściwość odkomentowana */
    transition: all 0.3s ease;
}

.goToContactBtn:hover {
    color: white;
}

.goToContactBtn::after {
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    /* background: pink; */
    z-index: -1; /* Upewnij się, że pseudo-element ma mniejszy z-index */
    transition: width 0.3s ease; /* Użycie transition zamiast transform */
}

.goToContactBtn:hover::after {
    width: 100%; /* Zmieniam width zamiast transform */
    background: #838ef5;
}

@media (max-width: 1366px) {
    .right_side{
        width: 60%;
        /* height: calc( 100% - 150px); */
        background: #4730D3;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 2px solid red; */
    }
    .left_side{
        width: 40%;
        /* height: calc( 100% - 150px); */
        background: #CCF381;
        flex: 1;
        position: relative;
        display: flex;
        align-items: center;
    }
    .leftNav{
        width: 40%;
        background: #ccf381;
    }
    .imageContainer{
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
        /* background: red; */
    }
    .aboutDesc{
        width: 100%;
        margin: 0px 40px;
        /* margin: 0px; */
        font-size: 20px;
    }
    .socialsLinks{
        width: 80px;
        margin-top: 50px;
        font-size: 30px;
        margin-bottom: 50px;
    }
    .questContainer{
        /* color: #4730D3; */
        width: 100%;
        /* margin-bottom: 50px; */
    }

}

@media (max-width: 768px) {
    body{
        background: #4730D3;
    }
    .right_side{
        width: 100%;
        /* height: calc( 100% - 150px); */
        background: #4730D3;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 2px solid red; */
    }
    .left_side{
        width:100%;
        /* height: calc( 100% - 150px); */
        background: #CCF381;
        flex: 1;
        position: relative;
    }
    .imageContainer{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }
    .imageContainer img {
        width: 40%;
        height: 20%;
        object-fit: cover;
    }
    .leftNav{
        width: 70%;
        background: #ccf381;
    }
    .first_section{
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    .aboutDesc{
        margin-top: 50px;
        width: 100%;
        font-size: 14px;
    }
    .socialsLinks{
        width: 64px;
        margin-top: 50px;
        font-size: 30px;
        margin-bottom: 50px;
    }
    .questTitle{
        font-size: 20px;
    }
    .questDesc{
        font-size: 18px;
    }
}